.custom-bg {
    background: url("/static/img/lib_spring.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 黑色半透明，可调整颜色和透明度 */
    z-index: -1; /* 确保遮罩在背景之上但在内容之下 */
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

div,
a,
nav,
button {
    font-family: "Courier New";
}

.custom-btn {
    height: 300px; /* 固定高度 */
    padding: 2rem;
    border-radius: 3px; /* 圆角控制 */
    transition: transform 0.3s ease;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: .80;
}

.custom-btn:hover {
    transform: scale(1.05); /* 悬停动画 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.content-wrapper {
    min-height: calc(100vh - 56px); /* 视口高度减去导航栏高度 */
    display: flex;
    align-items: center;
    padding-top: 1rem; /* 防止内容紧贴导航栏 */
    padding-bottom: 1rem;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 3px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: fadeIn 0.5s ease-out;
}

.login-header {
    color: black;
    padding: 15px;
    text-align: center;
}

.login-body {
    padding: 30px;
    background: white;
}

.form-floating label {
    transition: all 0.3s;
}

.btn-login {
    border: none;
    padding: 10px;
    letter-spacing: 1px;
    transition: all 0.3s;
}

.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.btn-return {
    justify-content: center;
    align-items: center;
    text-align: center;
}